.aboutme{
  scroll-margin-top: 160px;
}

.aboutme-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-title{
  font-size: 50px;
  margin-bottom: 20px;
}

.aboutme-content{
  width: 50%;
  text-align: center;
  padding: 50px 100px;
  border-radius: 30px;
  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  font-size: 23px;
}