.contact{
  scroll-margin-top: 160px;
}

.contact-title{
  text-align: center;
  font-size: 50px;
}

.contact-container{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.contact-left{
  width: 450px;
  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  border-radius: 10px;
  padding: 20px 45px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 150px; */
}

.contact-left > div label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  padding-left: 10px;

}

.contact-left> div{
  margin-bottom: 20px;
}

#your-name-fill,
#your-email-fill{
  margin-bottom: 5px;
  font-size: 20px;
  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  border-radius: 15px;
  transition: all 0.4s ease;
}

#your-message-fill{
  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  font-size: 20px;
  padding-left: 16px;
  padding-top: 10px;
  border-radius: 15px;
  resize: none;
}


#your-name-fill:focus,
#your-email-fill:focus,
#your-message-fill:focus{
  background-color: #F1F1E6;
  color: #4b16b7;
  border: 2px solid #5461A7;
  outline: none;
}

.submit-button{
  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.submit-button:hover{
  background-color: #F1F1E6;
  color: #4b16b7;
  
}



.contact-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  /* margin-right: 150px; */
}

.contact-location-container,
.contact-email-container,
.contact-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(167, 101, 176, 30%);
  border: 2px solid #5461A7;
  border-radius: 15px;

  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  
}

.contact-right p{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 23px;
}

.contact-location-title,
.contact-email-title,
.contact-info-title{
  display: flex;
  align-items: center;
  width: 100%;
  
  padding-top: 10px;
  font-size: 20px;
}

.contact-location,
.contact-email{
  font-size: 21px;
  margin-top: 5px;
  color: #4b16b7;
}


.fa-solid{
  color: #6630D2;
  margin-right: 12px;
}

.contact-info-icons{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-right: 70px;
}

.fa-brands{
  font-size: 40px;
  transition: color 0.5s ease;
}

.fa-brands:hover{
  color: #4b16b7;
}