*{
  box-sizing: border-box;
  font-family: Goldman;
  color: #F1F1E6;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(25deg, #264C9E 0% , #2D6A97 39%, #3B1F84 100% );
  margin: 0;
  padding-top: 200px;
  
}

section{
  margin-bottom: 200px;
}
