.home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  scroll-margin-top: 160px;
}

.home:nth-child(1){
  text-align: center;
}

.first-line{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.minji{
  color: #BF71B4;
}

.second-line{
  font-size: 35px;
}

.home-image{
  width: 300px;
}
